.quote-card {
  height: 450px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;

  background: url('../images/quote-bg4.jpg') no-repeat center;
  background-size: cover;
}

.quote-card .quote-main {
  font-size: 24px;
  text-align: center;
}

.quote-card .quote-secondary {
  font-size: 16px;
  text-align: right;
}
