// Global styles here. Typography, grid mixins etc.

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

section {
  @include contentContainer;
  padding-top: 9 * $unit;
  padding-bottom: 9 * $unit;
}

hr {
  display: none; // TODO actually remove hr eles
  background: $very-light-blue;
  opacity: 0.15;
  margin-top: 0;
  margin-bottom: 0;
}

.section__header {
  text-align: center;
}

.section__title {
  display: block;
  margin-bottom: 7 * $unit;
}

.section__desc {
  @include pre(3);
  @include span(6 of 12);
  display: block;
  margin-bottom: 8 * $unit;
}
