$line-height: 1.625;

.body {
	font-family: "Proxima Nova";
	font-weight: 400;
	font-size: 1em;
	line-height: 1 * $line-height;
	color: $cool-grey;
}

h1 {
  font-family: "Proxima Nova";
	font-weight: 100;
  font-size: 2.5em;
  line-height: 2;
  letter-spacing: -1.1px;
  color: $gunmetal;
}

h2 {
  font-family: "Proxima Nova";
  font-size: 1.6875em;
  line-height: 1.5;
  letter-spacing: -1.1px;
  color: $gunmetal;
}

h3 {
	font-family: "Proxima Nova";
	font-weight: 300;
	font-size: 1.375em;
	line-height: 1.6;
	letter-spacing: -0.4px;
	color: $gunmetal;
}

.title {
	font-family: "Proxima Nova";
	font-weight: 100;
  font-size: 3em;
  line-height: 1.5;
  letter-spacing: -1.3px;
  color: $gunmetal;
}
