// Type/Color map/reusable items
$colors: (
  hero-alpha: rgba(255,255,255, .34),
  hero-bg: #001021,
  forest: #305E26,
  green: #75B94D,
  white: #FFF,
  blue: #5FCFF0,
  navy: #0E263F,
);

$fonts: (
  primary: #{'Lato', Helvetica, Arial, sans-serif},
);

$main-font: 'Lato', Helvetica, Arial, sans-serif;

// New design 7.10.16

$small-unit: 4px;
$unit: 8px;

// Color palette

$rich-blue: #0019ff;
$periwinkle: #7381ff;
$deep-blue: #000d80;
$tealish-green: #17e546;
$spruce: #0b7323;
$dark-grey: #29292d;
$gunmetal: #4a4c58;
$cool-grey: #9395a1;
$silver: #d8d9df;
$very-light-blue: #f2f4ff;
$white: #ececec;
