section.about
  .section__header
    span.section__title.title.
      Air respiration, for the 21st century.
  .about__info
    .about__model
      img(src='../images/model.png')
    .about__features
      .about__feature
        h3.about__feature--fit.
          Fit Detection
        p.
          Trunk’s Fit Detection circuitry uses capacitive sensing to automatically alert you when your mask’s seal is comprimised. A subtle vibration near the seal break helps you adjust your mask accordingly.
      .about__feature
        h3.about__feature--reusable.
          Reusable Filters
        p.
          Safety doesn’t have to break the bank. Trunk utilizes easy-to-install, reusable N95 - N99 filters. Once the filter’s Pollution Pattern is fully visibly, simply clean the filter under cold water and reuse hundreds of times.
      .about__feature
        h3.about__feature--seal.
          Silicone Seal
        p.
          Trunk features a conformable silicone seal to ensure a reliable seal for all face types. The silicone provides comfortable protection for hours of use.
      .about__feature
        h3.about__feature--customization.
          Customization
        p.
          Choose the Trunk that best fits you, and stand out in the sea of outdated respirators.
hr
