.email-bar
  .email-bar__container
    p.email-bar__desc.
      Trunk is still in the early stages of development.
    form(action="" method="post")
      input(type="email" placeholder="Get the latest Trunk respirator updates")
      button(type="submit").
        Email me!
