.email-bar
  .email-bar__container
    p.email-bar__desc.
      Trunk is currently in development.
    form(action="" method="post")
      input(type="email" placeholder="Get the latest Trunk respirator news and updates")
      button(type="submit").Email me!
