.email-bar
  .email-bar__container
    .email-bar__desc
      p.
        Trunk is still in the early stages of development.
    include ../../public/images/icons/in-development.svg
    form(action="" method="post")
      input(type="email" placeholder="Get the latest Trunk respirator updates")
      button(type="submit").
        Email me!
