footer
  .footer__logo
    img(src='../images/logo@2x-white.png')
    .footer__info.
      © 2016 Ol' Factory, Inc.
    .footer__social
  .footer__links
    .footer__link
      .footer__link__header.
        Trunk
      a(href='#').
        Preorder
      a(href='#').
        Kickstarter
    .footer__link
      .footer__link__header.
        Company
      a(href='#').
        Press
      a(href='#').
        Blog
    .footer__link
      .footer__link__header.
        Support
      a(href='#').
        FAQ
      a(href='#').
        Contact
