footer
  .footer__content
    .footer__logo
      img(src='../images/logo@2x-white.png')
      .footer__info.
        © 2016 Ol' Factory, Inc.
      .footer__social
    .footer__links
      .footer__link
        a(href='#').
          Press Kit
        a(href='#').
          FAQ
        a(href='#').
          Contact
      .footer__link
        .footer__link__header.
          Created By:
        a(href='#').
          Coleman
        a(href='#').
          Jake
        a(href='#').
          Max
