section.gallery
  .section__header
    span.section__title.title.
      Urban living doesn't have to be ugly.
    .section__desc
      span.body.
        AQI (air quality index) is an index that reports daily air quality. Experts agree that an AQI above 150 indicates dangerous air. Check the map to see if your city is at risk.
  .gallery__photos
    .gallery__photo
      img(src='../images/1.png')
    .gallery__photo
      img(src='../images/2.png')
    .gallery__photo
      img(src='../images/3.png')
    .gallery__photo
      img(src='../images/4.png')
hr
