section.gallery
  .section__header
    span.section__title.title.
      Urban living doesn't have to be ugly.
    .section__desc
      p.
        AQI (air quality index) is an index that reports daily air quality. Experts agree that an AQI above 150 indicates dangerous air. Check the map to see if your city is at risk.
  .gallery__photos
    .rounded
      .gallery__photo
      .gallery__photo
      .gallery__photo
      .gallery__photo
hr
