section.hero
  nav.navbar
    .navbar__logo
      a
        img#logo(src='../images/logo@2x.png')
    .navbar__links
      i.fa.fa-bars.ham
      ul.navbar__desktop
        li
          a.nav-link.body(href='#trunk').
            Trunk
        li
          a.nav-link.body(href='#initiative').
            Initiative
        li
          a.nav-link.body(href='#connect').
            Connect
      .navbar__mobile
        i.fa.fa-times.close
        ul
          li
            a.nav-link.body(href='#trunk').
              Trunk
          li
            a.nav-link.body(href='#initiative').
              Initiative
          li
            a.nav-link.body(href='#connect').
              Connect
  .hero__content
    .hero__title
      h2.
        Trunk
      span.title.
        Breathe easy.
    .hero__desc
      .hero__desc__statement
        p.
          Take a deep breath with Trunk, an exceptional respirator for everyone.
