section.hero
  nav.navbar
    .navbar__logo
      a
        img#logo(src='../images/logo@2x.png')
    .navbar__links
      ul
        li
          a.nav-link.body(href='#about').
            ABOUT
        li
          a.nav-link.body(href='#kickstarter').
            KICKSTARTER
        li
          a.nav-link.body(href='#support').
            SUPPORT
  .hero__content
    .hero__title
      h2.
        Trunk
      span.title.
        Breath confidently. Live better.
    .hero__desc
      .hero__desc__statement
        span.body.
          Breath confidently with a lightweight, urban respirator - unparalelled in style and protection.
      .hero__btn
        a.btn(href='#').
          PREORDER
hr
