section.initiative
  .section__header
    span.section__title.title.
      Ol'Factory is taking initiative.
    .section__desc.body.
      If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo?
  .initiative__btn
    a(href='#').btn.
      LEARN MORE
