section.map
  .section__header
    span.section__title.title.
      Urban living doesn't have to be unhealthy.
  .map__map
    .map__svg
      //- object(type='image/svg+xml', data='/images/map-optimised.svg')#poll_map.
      include ../../public/images/map.min.svg
    .map__card#map-card
      .map__card__header
        .card-header
          span.card-title.
            Bangkok
          span.card-sub.
            Thailand
        .flag
      span.card-aqi.
        142
      span.card-aqi__desc.
        Air Quality Index (AQI)
      hr
      .map__card__footer
        .card-current-cond
          span.map__card__footer__title.
            CURRENT CONDITION
          //- span.card-current-cond__emoji.
          //-   oo
          span.map__card__footer__text.card-current-cond__text.
            Poor
        .card-avg
          span.map__card__footer__title.
            30 DAY AVG.
          span.map__card__footer__text.
            160
          span.map__card__footer__detail.
            AQI
      .last-updated.
        Error fetching AQI data. Please email #[a(href='mailto:jake@olfactory.io?subject=OlFactory.io Support') jake@olfactory.io] for a bug fix.
    .map__desc
      h3.
        Air Pollution - An increasingly messy problem. 
      .body.
        This map shows AQI (Air Quality Index) for various cities with high urban population. Unfortunately, the air in many urban spaces is toxic to breathe. AQI is a normal scale for reporting the daily air quality, and experts generally agree that an AQI above 150 for small particulate matter (PM2.5) indicates dangerous air. Trunk makes it easier than ever before to live safely in these environments - without sacrificing style, or comfort. 

hr
