section.map
  .section__header
    span.section__title.title.
      Urban living doesn't have to be unhealthy.
  .map__map
    .map__svg
      //- object(type='image/svg+xml', data='/images/map-optimised.svg')#poll_map.
      include ../../public/images/map.min.svg
    .map__card#map-card
      .map__card__header
        .card-header
          span.card-title.
            Bangkok
          span.card-sub.
            Thailand
        .flag
      span.card-aqi.
        142
      span.card-aqi__desc.
        Air Quality Index (AQI)
      hr
      .map__card__footer
        .card-current-cond
          span.map__card__footer__title.
            CURRENT CONDITION
          //- span.card-current-cond__emoji.
          //-   oo
          span.map__card__footer__text.card-current-cond__text.
            Poor
        .card-avg
          span.map__card__footer__title.
            30 DAY AVG.
          span.map__card__footer__text.
            160
          span.map__card__footer__detail.
            AQI
      .last-updated.
        Error fetching AQI data. Please email #[a(href='mailto:jake@olfactory.io?subject=Fix my AQI data issues, Jake!!') jake@olfactory.io] for a bug fix.
    .map__desc
      h3.
        Your Air Ain't Clean
      .body.
        AQI (air quality index) is an index that reports daily air quality. Experts agree that an AQI above 150 indicates dangerous air. Check the map to see if your city is at risk.

hr
