section.preorder
  .section__header
    span.section__title.title.
      Preorder now and get 30% off.
  .preorder__card
    .preorder__card__img
      img(src='../images/preorder-model.png')
    .preorder__card__body
      .preorder__card__header
        img(src='../images/logo@2x-grey.png')
        h1.preorder__card__title.
          TRUNK RESPIRATOR
        span.preorder__card__price
          span.
            $
          span.price.
            85
      span.body.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .preorder__card__color
        span.
          COLOR
        .colors
          .color
          .color
          .color
          .color.selected-color
          .color
      .preorder__card__btns
        a(href='#').preorder__btn.btn.
          PREORDER NOW
        a(href='#').preorder__btn.btn-secondary.btn.
          FUND KICKSTARTER
hr
