extends layout

block content
  section.hero
    nav.navbar
      .navbar__logo
        a
          img#logo(src='../images/logo@2x.png')
      .navbar__links
        ul
          li
            a.nav-link.body(href='#about').
              ABOUT
          li
            a.nav-link.body(href='#kickstarter').
              KICKSTARTER
          li
            a.nav-link.body(href='#support').
              SUPPORT
    .hero__content
      .hero__title
        h2.
          Trunk
        span.title.
          Breath confidently. Live better.
      .hero__desc
        .hero__desc__statement
          span.body.
            Breath confidently with a lightweight, urban respirator - unparalelled in style and protection.
        .hero__btn
          a.btn(href='#').
            PREORDER
  hr
  section.about
    .section__header
      span.section__title.title.
        A New Type of Respirator.
    .about__model
      img(src='../images/model.png')
    .about__features
      .about__feature
        h3.
          Fit Detection
        .body.
          Trunk’s Fit Detection circuitry uses capacitive sensing to automatically alert you when your mask’s seal is comprimised. A subtle vibration near the seal break helps you adjust your mask accordingly.
      .about__feature
        h3.
          Reusable Filters
        .body.
          Trunk’s Fit Detection circuitry uses capacitive sensing to automatically alert you when your mask’s seal is comprimised.
      .about__feature
        h3.
          Silicon Seal
        .body.
          Trunk’s Fit Detection circuitry uses capacitive sensing to automatically alert you when your mask’s seal is comprimised. A subtle vibration near the seal break helps you adjust your mask accordingly.
      .about__feature
        h3.
          Adjustable Straps
        .body.
          Trunk’s Fit Detection circuitry uses capacitive sensing to automatically alert you when your mask’s seal is comprimised.
  hr
  section.gallery
    .section__header
      span.section__title.title.
        Urban living doesn't have to be ugly.
      .section__desc
        span.body.
          AQI (air quality index) is an index that reports daily air quality. Experts agree that an AQI above 150 indicates dangerous air. Check the map to see if your city is at risk.
    .gallery__photos
      .gallery__photo
        img(src='../images/1.png')
      .gallery__photo
        img(src='../images/2.png')
      .gallery__photo
        img(src='../images/3.png')
      .gallery__photo
        img(src='../images/4.png')
  hr
  section.map
    .section__header
      span.section__title.title.
        Urban living doesn't have to be unhealthy.
    .map__map
      .map__svg
        object(type='image/svg+xml', data='/images/map-optimised.svg').
          Your browser doesn't support SVGs. Oops.
      .map__card
        .map__card__header
          .card-header
            span.card-title.
              Bangkok
            span.card-sub.
              Thailand
          .flag
        span.card-aqi.
          142
        span.card-aqi__desc.
          Air Quality Index (AQI)
        hr
        .map__card__footer
          .card-current-cond
            span.map__card__footer__title.
              CURRENT CONDITION
            span.card-current-cond__emoji.
              oo
            span.map__card__footer__text.card-current-cond__text.
              Poor
          .card-avg
            span.map__card__footer__title.
              30 DAY AVG.
            span.map__card__footer__text.
              160
            span.map__card__footer__detail.
              AQI
      .map__desc
        h3.
          Your Air Ain't Clean
        .body.
          AQI (air quality index) is an index that reports daily air quality. Experts agree that an AQI above 150 indicates dangerous air. Check the map to see if your city is at risk.
      
  hr
  section.preorder
    .section__header
      span.section__title.title.
        Preorder now and get 30% off.
    .preorder__card
      .preorder__card__img
        img(src='../images/preorder-model.png')
      .preorder__card__body
        .preorder__card__header
          img(src='../images/logo@2x-grey.png')
          h1.preorder__card__title.
            TRUNK RESPIRATOR
          span.preorder__card__price
            span.
              $
            span.price.
              85
        span.body.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .preorder__card__color
          span.
            COLOR
          .colors
            .color
            .color
            .color
            .color.selected-color
            .color
        .preorder__card__btns
          a(href='#').preorder__btn.btn.
            PREORDER NOW
          a(href='#').preorder__btn.btn-secondary.btn.  
            FUND KICKSTARTER  
    hr
  section.initiative
    .section__header
      span.section__title.title.
        Ol'Factory is taking initiative.
      .section__desc.body.
        If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo?
    a(href='#').initiative__btn.btn.
      LEARN MORE
    hr
  footer
    .footer__row
      .logo
        img(src='../images/logo@2x.png')
      .footer__links
