extends layout

block content
  include ./components/hero.jade
  include ./components/about.jade
  include ./components/gallery.jade
  include ./components/map.jade
  include ./components/preorder.jade
  include ./components/initiative.jade
  include ./components/footer.jade
