doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='theme-color', content='#17E546')
    title Trunk: An Urban Respirator by Ol'Factory
    meta(name='description', content="Trunk is an urban respirator, unparalleled in protection and style.")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/styles/styles.css')
  body
    block content
    script(type='text/javascript' src='/scripts/build/bundle.js')
