.about {

}

.about__model {
  @include span(7);

  img {
    display: block;
    margin: 150px auto;
  }
}

.about__features {
  // @include pre(7); // TODO: remove after adding model!
  @include span(last 5);

  .about__feature {
    margin-bottom: 5 * $unit;
  }
}
