.btn {
  border-radius: 40px;
  background-color: $tealish-green;
  color: white;
  display: inline-block;
  padding: 12px 26px;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  width: auto;
}
