.btn {
  border-radius: 40px;
  background-color: $tealish-green;
  color: white;
  display: inline-block;
  padding: 18px 31px;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  width: auto;
  letter-spacing: 1px;
  font-size: 1.125em;
  font-weight: 400;

  transition: transform 0.3s;

  &:hover {
    transform: scale(0.95);
  }
}

.btn-secondary {

  background-color: #fff;
  border: solid 3px $silver;
  color: $silver;
}
