.email-bar {
  width: 100vw;
  background: $very-light-blue;
  padding: 1em 0;

  form {
    width: 100%;
    max-width: 370px;
    min-width: 360px;
    display: flex;
  }

  input {
    width: 100%;
    height: 39px;
    padding: 1px 16px 0;
    transition: all .35s;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    background: lighten($rich-blue, 45);
    border:none;

    &::placeholder {
      color: lighten($gunmetal, 20);
      font-size: .9em;
    }

    &:focus, &:active {
      outline: none;
      background: lighten($rich-blue, 42);
      box-shadow: inset 0 0px 1px rgba(0,0,0,.075);
    }
  }

  button {
    transition: all .35s;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 13px 10px;
    background: $periwinkle;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    &:hover, &:active {
      background: darken($periwinkle, 5);
    }
  }
}

.email-bar__container {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-bar__icon {
  height: 28px;
  width: 28px;
  opacity: 0.5;
}

.email-bar__desc {
  display: flex;
  align-items: center;
  color: lighten($gunmetal, 10);

  p {
    // margin-right: 1em;
  }
}
