footer {
  @include span(full inside no-gutters);

  padding-top: 57px;
  padding-bottom: 10 * $unit;
  padding-right: 20px;
  padding-left: 20px;
  height: 30 * $unit;
  color: #fff;
  background-color: #000d80;

  // &:after {
  //   content: " ";
  //
  //   display: block;
  //   width: 100vw;
  //   height: 240px;
  //   margin-top: -57px;
  //   margin-left: -14.45vw;
  // }
}

.footer__logo {
  @include span(3);

  img {
    width: 136px;
    height: 46px;
  }

  .footer__info {
    margin-top: $unit;
    margin-bottom: 1.4 * $unit;
    font-size: .75em;
    line-height: 1.4;
    color: $periwinkle;
    text-decoration: none;
  }
}

.footer__links {
  @include span(last 4 of 12);

  @include mobile_tablet {
    width: auto;
  }
  .footer__link {
    @include span(1 of 4);

    @include mobile_tablet {
      width: auto;
    }
    .footer__link__header {
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: -0.3px;
    }

    a {
      display: block;
      font-size: .75em;
    	line-height: 1.4;
    	color: $periwinkle;
      margin: $unit 0;
      text-decoration: none;

      &:hover {
        color: lighten($periwinkle, 10);
      }
    }
  }
}
