footer {
  width: 100%;
  padding-top: 57px;
  padding-bottom: 10 * $unit;
  padding-right: 20px;
  padding-left: 20px;
  height: 30 * $unit;
  color: #fff;
  background-color: #000d80;

  @include mobile_tablet {
    padding: 20px;
  }
}

.footer__content {
  @include contentContainer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mobile_tablet {
    flex-direction: column;
  }
}
.footer__logo {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;

  @include mobile_tablet {
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
  }
  img {
    width: 136px;
    height: 46px;

    @include mobile_tablet {
      margin: auto;
    }
  }

  .footer__info {
    margin-top: $unit;
    margin-bottom: 1.4 * $unit;
    font-size: .75em;
    line-height: 1.4;
    color: $periwinkle;
    text-decoration: none;
  }
}

.footer__links {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;

  @include mobile_tablet {
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
  }

  @include mobile_tablet {
    width: auto;
  }
  .footer__link {
    flex-basis: 25%;

    .footer__link__header {
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: -0.3px;
    }

    a {
      display: block;
      font-size: .75em;
    	line-height: 1.4;
    	color: $periwinkle;
      margin: $unit 0;
      text-decoration: none;

      &:hover {
        color: lighten($periwinkle, 10);
      }
    }
  }
}
