.gallery {
  @include span(12);
}

.gallery__photos {
  @include container(840px);

  .gallery__photo {
    float: left;
    width: 50%;
    max-height: 288px;

    @include mobile_tablet {
      width: 100%;
      float: none;
      margin: auto;
      text-align: center;
      max-height: none;
    }

    img {
      @include mobile {
        width: 100%;
      }
    }
  }
}
