.hero {
  padding-top: 6 * $unit;

  @include mobile_tablet {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.hero__content {
  text-align: center;
  padding-top: 9 * $unit;

  .hero__title {
  }

  .hero__desc {
    margin-top: 34 * $unit;
    @include full;

    .hero__desc__statement {
      @include pre(3);
      @include span(6 of 12);
      @include break();
    }

    .hero__btn {
      @include pre(4);
      @include span(4 of 12);
      margin-top: 4 * $unit;
    }
  }

}
