.map__map {
  @include container(840px);
}

.map__desc {
  @include mobile_tablet {
    float: none;
    margin: auto;
    padding: 20px;
    width: 100%;
  }

  float: left;
  margin-top: -128px;
  max-width: 450px;
}

.map__svg {
  @include mobile_tablet {
    margin: auto;
  }

  float: right;
  margin-top: -90px;
  margin-right: -80px;
}

.city-point {
  cursor: pointer;
  transition: stroke-width 0.3s;

  &:hover {
    stroke: rgba(114,128,255,0.38);
    stroke-width: 18px;
  }
}

.selected-point {
  fill: #17E546;
}

.point-outline {
  fill: none;
  stroke: #17E546;
  stroke-width: 1px;
  r: 8px;
}

.map__card {
  @include span(4 wide);
  @include mobile_tablet {
    float: none;
    clear: both;
    margin: auto;
    width: auto;
  }

  float: left;
  margin-top: -440px;
  padding: 22px;
  max-width: 275px;
  height: 264px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(148, 148, 148, 0.5);
  color: $cool-grey;
  font-family: $sans-serif;

  hr {
    display: block;
    margin: 21px 0 $unit;
    width: 100%;

    // border: solid 1px $very-light-blue;
  }
  span {
    display: block;
  }
}

.last-updated {
  margin: 26px -20px;
  color: $silver;
  text-align: center;
  font-size: 0.7em;

  a {
    color: $silver;
  }
}

.map__card__header {
  display: flex;
  align-items: flex-start;
}

.card-header {
  flex: 1;
  align-self: flex-start;
}

.card-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
}

.card-sub {
  display: block;
  margin-top: 3px;
  letter-spacing: -0.4px;
  font-weight: 300;
  font-size: 14px;
}

.flag {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 99px;
  background-color: #FFF;
  background-position: center;
  background-size: cover;
}

.card-aqi {
  color: $cool-grey;
  text-align: center;
  letter-spacing: -1.8px;
  font-weight: 300;
  font-size: 4.3em;
  line-height: 1.2;
}

.card-aqi__desc {
  color: $cool-grey;
  text-align: center;
  letter-spacing: -0.4px;
  font-size: 0.875em;
}

.map__card__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.map__card__footer__title {
  margin-bottom: $unit;
  color: $silver;
  letter-spacing: -0.3px;
  font-weight: 600;
  font-size: 0.625em;
}

.map__card__footer__text {
  display: inline-block !important;
  color: $cool-grey;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
}

.map__card__footer__detail {
  display: inline-block !important;
  margin-left: 2px;
  color: $silver;
  letter-spacing: -0.2px;
  font-size: 9px;
}

.card-current-cond {
}

.card-current-cond__emoji {
  display: inline-block;
  margin-right: $unit;
}
