.navbar {
  display: flex;
  align-items: center;
  
  .navbar__logo {
    flex-basis: 50%;
    flex: 1;
    align-self: flex-start;
     @include mobile_tablet {
       width: auto;
     }
    #logo {
      height: 44px;
      width: 130px;
      pointer-events: none;
      margin-bottom: -35px;
    }
  }

  .navbar__links {
    align-self: flex-end;
    line-height: 6 * $unit;

    @include mobile_tablet {
      width: auto;
    }
    & > ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      list-style-type: none;
    }

    .nav-link {
      display: block;
      padding: 0.5em 0.5em;
      text-decoration: none;

      &:hover {
        color: #aaa;
      }
    }
  }
}
