.preorder {

}

.preorder__card {
  font-family: $sans-serif;
  height: 582px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(148, 148, 148, 0.5);
  color: $cool-grey;

  padding: 54px; // TODO: units...

  span {
    display: block;
  }
}

.preorder__card__img {
  @include span(4);
  margin-left: -120px;
}

.preorder__card__body {
  @include span(last 7);
}

.preorder__card__header {
  img {
    width: 102px;
  	height: 35px;
  }

  h1 {
    margin-top: $unit * 2;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 600;
  }

  .preorder__card__price {
    display: flex;
    align-items: center;
    font-weight: 400;
  	color: $silver;

    span {
      display: inline-block !important;
      margin-right: 4px;
      line-height: 2.2;
      letter-spacing: -0.9px;
      font-size: 2em;
    }

    .price {
      font-size: 56px;
      line-height: 1.3;
      letter-spacing: -1.5px;
    }
  }
}

.preorder__card__color {

  span {
    margin: 2 * $unit 0;
    font-size: 1.125em;
    letter-spacing: -0.2px;
    color: #d0d0d0;
  }

  .colors {
    display: flex;

    .selected-color {
      position: relative;

      &:before {
        content: " ";
        position: absolute;
        border-radius: 99px;

        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
        border: solid 3px $silver;
      }
    }

    .color {
      border-radius: 99px;
      margin-right: 20px;
      width: 4 * $unit;
      height: 4 * $unit;

      &:nth-child(1) {
        border: solid 3px #d0d0d0;
      }

      &:nth-child(2) {
        background-color: $tealish-green;
      }

      &:nth-child(3) {
        background-color: $spruce;
      }

      &:nth-child(4) {
        background-color: $rich-blue;
      }

      &:nth-child(5) {
        background-color: $deep-blue;
      }
    }
  }
}

.preorder__card__btns {
  margin-top: 7 * $unit;

  .preorder__btn {
    &:nth-child(1) {
      margin-right: $unit * 4;
    }
  }
}
