article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.body {
  font-family: ProximaNova-Regular;
  font-size: 1em;
  line-height: 1.625;
  color: #9395a1; }

h1 {
  font-family: ProximaNova-Light;
  font-size: 2.5em;
  line-height: 2;
  letter-spacing: -1.1px;
  color: #4a4c58; }

h2 {
  font-family: ProximaNova-Light;
  font-size: 1.6875em;
  line-height: 1.5;
  letter-spacing: -1.1px;
  color: #4a4c58; }

.title {
  font-family: ProximaNova-Light;
  font-size: 3em;
  line-height: 1.5;
  letter-spacing: -1.3px;
  color: #4a4c58; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: ProximaNova-Regular;
  text-size: 16px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 85, 102, 0.25), rgba(143, 121, 143, 0.25) 50%, transparent 50%);
  background-size: 8.69565%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

section {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-top: 72px;
  padding-bottom: 72px; }

hr {
  margin-left: 8.69565%;
  width: 82.6087%;
  float: left;
  margin-right: 4.34783%;
  border-color: #f2f4ff;
  border-style: solid; }

.btn {
  border-radius: 40px;
  background-color: #17e546;
  color: white;
  display: inline-block;
  padding: 12px 26px;
  text-decoration: none;
  width: auto; }

.hero {
  height: 800px;
  padding-top: 48px; }

.hero__content {
  text-align: center;
  padding-top: 72px; }
  .hero__content .hero__desc {
    margin-top: 272px;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .hero__content .hero__desc .hero__desc__statement {
      margin-left: 26.08696%;
      width: 47.82609%;
      float: left;
      margin-right: 4.34783%;
      clear: both; }
    .hero__content .hero__desc .hero__btn {
      margin-left: 34.78261%;
      width: 30.43478%;
      float: left;
      margin-right: 4.34783%;
      margin-top: 32px; }

.navbar {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .navbar .navbar__logo {
    width: 13.04348%;
    float: left;
    margin-right: 4.34783%; }
    .navbar .navbar__logo #logo {
      height: 44px;
      width: 130px;
      pointer-events: none;
      margin-bottom: -35px; }
  .navbar .navbar__links {
    width: 30.43478%;
    float: right;
    margin-right: 0;
    line-height: 48px; }
    .navbar .navbar__links > ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0; }
    .navbar .navbar__links li {
      display: inline-block;
      list-style-type: none; }
    .navbar .navbar__links .nav-link {
      display: block;
      padding: 0.5em 0.5em;
      text-decoration: none; }
      .navbar .navbar__links .nav-link:hover {
        color: #aaa; }

.about {
  height: 800px; }

.signup {
  display: flex;
  text-align: center;
  height: 500px;
  min-height: 400px;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; }
  .signup .footer {
    position: relative; }
    .signup .footer h2 {
      font-size: 2.75em;
      font-weight: 600;
      color: #4B4237; }
  .signup input {
    width: 65%;
    margin-right: 20px; }
  .signup label {
    left: 5.75rem; }

/*# sourceMappingURL=styles.css.map */
