// Type/Color map
$colors: (
  hero-alpha: rgba(255,255,255, .34),
  hero-bg: #001021,
  forest: #305E26,
  green: #75B94D,
  white: #FFF,
  blue: #5FCFF0,
  navy: #0E263F
);

$fonts: (
  primary: #{'Lato', Helvetica, Arial, sans-serif},
);

$main-font: 'Lato', Helvetica, Arial, sans-serif;
